{% extends 'base.html' %}

{% block title %}
Create Document
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div>
    <script src="https://unpkg.com/pdf-lib"></script>
    <div style="display:flex; ">
        <div class="doc-container">
            <div class="page">
                <div id="pdf-file" class="doc-content">

                </div>
            </div>
        </div>
        <div class="menu-container">
            <h6>Fields</h6>
            <div class="button-container">
                <div id="txt-btn" class="drag-btn" draggable="true"><p class="btn-text">Text</p><i class="fas fa-align-left"></i></div>
                <div id="img-btn" class="drag-btn" draggable="true"><p class="btn-text">Image</p><i class="far fa-image"></i></div>
                <div id="table-btn" class="drag-btn" draggable="true"><p class="btn-text">Table</p><i class="fas fa-table"></i></div>
                <div id="signature-btn" class="drag-btn" draggable="true"><p class="btn-text">Signature</p><i class="fas fa-signature"></i></div>
                <div id="date-btn" class="drag-btn" draggable="true"><p class="btn-text">Date</p><i class="fas fa-calendar-day"></i></div>
                <div id="dropdown-btn" class="drag-btn" draggable="true"><p class="btn-text">Dropdown</p><i class="far fa-list-alt"></i></div>

            </div>{% csrf_token %}
            <button id='save-btn' class="btn btn-outline-success">Save</button>
            <div id='focus-btn' class="btn btn-outline-success">Focus</div>
            <a class="btn btn-outline-primary" href="{% url 'workflow:add-document' %}">Add In WorkFlow</a>
            <a style="display:none" class="btn btn-outline-primary" id="show-btn">Show PDF</a>
            <iframe id="pdf" style="display: none; width: 100%; height: 100vh;"></iframe>
        </div>

    </div>

    <style>


        .doc-container{
            display: block;
            width: 75vw;
            height: 89vh;
            background-color: #e1e0e9;
            overflow-y: scroll;
        }

        .page{
            display:  block;
            position:  relative;
            width: 720px;
            height: 800px;
            margin: 30px auto;
            padding: 5%;
            background-color: #fff;
            box-shadow: 0px 0px 5px #333;
        }

        .doc-content{
            height: 100%;
        }

        .menu-container{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        ::-webkit-resizer {
          display: none;
        }

        .button-container{
            display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 10px;
            height: 200px;
            width: 280px;
            padding: 10px;
            align-items: center;

        }

        .drag-btn{
            border: none;
            height: 100%;
            background-color: #c7d5e1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .btn-text{
            margin: 1rem 0;

        }

        /* width */
        ::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

    </style>


    <script>

        const fileContent = [];

        let resizing = false;

        const txtBtn = document.getElementById("txt-btn");
        const imgBtn = document.getElementById("img-btn");
        const tableBtn = document.getElementById("table-btn");
        const dateBtn = document.getElementById("date-btn");
        const signatureBtn = document.getElementById("signature-btn");

        txtBtn.ondragstart = (event) => {
            event.dataTransfer.setData("text/plain", "TEXT_BUTTON");
        }

        imgBtn.ondragstart = (event) => {
            event.dataTransfer.setData("text/plain", "IMG_BUTTON");
        }

        tableBtn.ondragstart = (event) => {
            event.dataTransfer.setData("text/plain", "TABLE");
        }

        dateBtn.ondragstart = (event) => {
            event.dataTransfer.setData("text/plain", "DATE");
        }

        signatureBtn.ondragstart = (event) => {
            event.dataTransfer.setData("text/plain", "SIGN");
        }

        const fBtn = document.getElementById('focus-btn');
        fBtn.onclick = (ev) => {
            console.log('Clicked');
            const pdfFile = document.getElementById('pdf-file');

            console.log(pdfFile.activeElement)
        }

        function getResizer(attr1, attr2){
            const resizer = document.createElement('span');
            resizer.style.width = '5px';
            resizer.style.height = '5px';
            resizer.style.display = 'block';
            resizer.className = 'resizeBtn';
            resizer.style.position = 'absolute';
            resizer.style.backgroundColor = '#00aaff';

            if ( attr1 === 'top') {
                resizer.style.top = '-3px';
            } else {
                resizer.style.bottom = '-3px';
            }

            if ( attr2 === 'left') {
                resizer.style.left = '-3px';
            } else {
                resizer.style.right = '-3px';
            }

            if ( attr1 == 'top' && attr2 === 'right' || attr1 == 'bottom' && attr2 === 'left'){
                resizer.onmouseover = (event) => {
                    event.target.style.cursor = 'nesw-resize';
                };
            } else {
                resizer.onmouseover = (event) => {
                    event.target.style.cursor = 'nwse-resize';
                };
            }


            resizer.onmousedown = (event) => {
                let initX = event.screenX;
                let initY = event.screenY;
                resizing = true;
                event.preventDefault();
                const holder = event.target.parentNode;
                //
                const holderSize = (function () {
            	    const holderSize = {
            		    width : parseInt(holder.style.width.slice(0, -2)) ,
                        height : parseInt(holder.style.height.slice(0, -2)),
                        top : parseInt(holder.style.top.slice(0, -2)),
            	        left : parseInt(holder.style.left.slice(0, -2))//elemLeft : 0
            	    }
                	return Object.seal(holderSize);
                })();

                window.addEventListener('mousemove', resizeElement);
                function resizeElement(ev) {
                    if(attr1 == 'bottom' && attr2 == 'right') {
                        holder.style.width = ((ev.screenX - initX) + holderSize.width) + 'px';
                        holder.style.height = ((ev.screenY - initY) + holderSize.height) + 'px'
                    } else if(attr1 == 'bottom' && attr2 == 'left')  {
                        holder.style.left = (holderSize.left + (ev.screenX - initX)) + 'px';
                        holder.style.width = (holderSize.width - (ev.screenX - initX)) + 'px';
                        holder.style.height = ((ev.screenY - initY) + holderSize.height) + 'px';
                    } else if(attr1 == 'top' && attr2 == 'left')  {
                        holder.style.top = (holderSize.top + (ev.screenY - initY)) + 'px';
                        holder.style.left = (holderSize.left + (ev.screenX - initX)) + 'px';
                        holder.style.width = (holderSize.width - (ev.screenX - initX)) + 'px';
                        holder.style.height = (holderSize.height - (ev.screenY - initY)) + 'px';
                    } else if(attr1 == 'top' && attr2 == 'right')  {
                        holder.style.top = (holderSize.top + (ev.screenY - initY)) + 'px';
                        holder.style.width = (holderSize.width + (ev.screenX - initX)) + 'px';
                        holder.style.height = (holderSize.height - (ev.screenY - initY)) + 'px';
                    }

                }

                window.addEventListener('mouseup', stopResizing);
                function stopResizing(ev){
                    window.removeEventListener('mousemove', resizeElement);
                    window.removeEventListener('mouseup', stopResizing);
                    resizing = false;

                }
            }
            return resizer;
        }

        function getTextField(){
            const textField = document.createElement('textarea');
            textField.type = 'text';
            textField.style.width = '100%';
            textField.style.height = '80%';
            textField.style.margin = '1%';
            textField.style.fontSize = '1em';
            textField.style.border = 'none';
            textField.style.resize = 'none';
            textField.style.backgroundColor = '#0000';
            textField.style.borderRadius = '0px';
            textField.style.outline = '0px';
            textField.style.overflow = 'overlay';

            return textField;
        }


        function getDateField(){
            const d = new Date();
            const dd = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
            console.log(dd)

            const dateField = document.createElement('input');
            dateField.type = 'date';
            dateField.value = dd;

            dateField.style.width = '100%';
            dateField.style.height = '80%';
            dateField.style.fontSize = '1em';
            dateField.style.border = 'none';
            dateField.style.resize = 'none';
            dateField.style.backgroundColor = '#0000';
            dateField.style.borderRadius = '0px';
            dateField.style.outline = '0px';
            dateField.style.overflow = 'overlay';

            return dateField;
        }

        function getImageField() {
            const imgField = document.createElement('input');
            imgField.type = 'file';

            imgField.style.margin = '20%';
            imgField.style.cursor = 'pointer';
            imgField.style.border = 'none';
            imgField.style.resize = 'none';
            imgField.style.fontSize = 'xx-small';
            imgField.style.backgroundColor = '#0000';
            imgField.style.borderRadius = '0px';
            imgField.style.outline = '0px';
            imgField.style.overflow = 'overlay';
            imgField.setAttribute('accept', 'image/*');
            imgField.innerText = 'Choose image';

            imgField.onchange = (ev) => {
                const image = document.createElement('img');
                image.src = URL.createObjectURL(ev.target.files[0]);
                image.style.width = '100%';
                image.style.height = '95%';
                image.style.marginTop = '4%';
                image.style.cursor = 'grab';
                image.setAttribute('draggable', false);
                //image.setAttribute('contenteditable', true);
                //ev.target.style.display = 'none';
                const cont = ev.target.parentNode
                cont.replaceChild( image, ev.target);
            }

            return imgField;
        }


        function getSignField(){

            const signF = document.createElement('a');
            signF.style.width = '100%';
            signF.style.height = '90%';
            signF.style.display = 'flex';
            signF.style.cursor = 'pointer';
            signF.style.justifyContent = 'center';
            signF.style.alignItems = 'center';
            signF.innerHTML = 'Signature...<i class="fa fa-pencil"></i>';

            signF.addEventListener('click', addCanEditor, false) 

            function addCanEditor(ev) {
                let signField ;
                if(ev.target.dataset.img === 'isign'){
                    signField = ev.target
                } else {
                    signField = ev.target
                }

                const containerDIV = document.createElement('div');
                containerDIV.style.width = '100%';
                containerDIV.style.height = '100%';
                containerDIV.style.top = '0';
                containerDIV.style.position = 'absolute';
                containerDIV.style.backgroundColor = '#22222277';
                containerDIV.style.display = 'flex';
                containerDIV.style.justifyContent = 'center';
                containerDIV.style.alignItems = 'center';
                containerDIV.style.zIndex = 100;
                containerDIV.setAttribute('data-name', 'containerDIV');

                const svgEditor = document.createElement('div');
                //svgEditor.style.height = '50vh';
                svgEditor.style.width = '50vw';
                svgEditor.style.backgroundColor = '#fffc';
                svgEditor.style.borderRadius = '3%';
                svgEditor.style.display = 'flex';
                svgEditor.style.flexDirection = 'column';

                const canvas = document.createElement('canvas');
                const width = window.innerWidth / 2;
                const height = window.innerHeight / 3 ;
                console.log(screen.innerWidth, screen.innerHeight)
                canvas.setAttribute('width', ((window.innerWidth / 2) - (window.innerWidth / 20) ) + 'px');
                canvas.setAttribute('height', height + 'px');
                canvas.style.border = '1px solid black';
                canvas.style.backgroundColor = '#fff';
                canvas.style.margin = '5%';
                canvas.setAttribute('draggable', false);

                const ctx = canvas.getContext('2d');
                let drawing = false;
                const pointArry = [];
                let startp = {
                    x: 0,
                    y: 0
                };

                canvas.onmousedown = (ev) => {
                    drawing = true;
                    startp.x = ev.pageX - (width / 2) - (window.innerWidth / 40);
                    startp.y = ev.pageY - (height / 2) - (window.innerHeight / 8);

                    const p = {
                            x: ev.pageX - (width / 2) - (window.innerWidth / 40),
                            y: ev.pageY - (height / 2) - (window.innerHeight / 8)
                        }
                    pointArry.push(p)
                }
                canvas.onmouseup = (ev) => {
                    drawing = false
                    while(pointArry.length){
                        pointArry.pop()
                    }

                }
                canvas.onmousemove = (ev) => {
                    if( drawing ){
                        const p = {
                            x: ev.pageX - (width / 2) - (window.innerWidth / 40),
                            y: ev.pageY - (height / 2) - (window.innerHeight / 8)
                        }
                        pointArry.push(p);
                    }
                    ctx.lineJoin = 'round';
                    ctx.lineCap = 'round';
                    ctx.lineWidth = 4;
                    ctx.beginPath();

                    //console.log(event);
                    ctx.moveTo(startp.x, startp.y);
                    //ctx.lineTo(190, 100);
                    for(let i = 0; i < pointArry.length ; ++i){
                        ctx.lineTo(pointArry[i].x,pointArry[i].y)
                    }

                    ctx.stroke();
                    //ctx.fillStyle = 'green';
                    //ctx.fillRect(10, 10, 150, 100);
                }

                const menuCanvas = document.createElement('div');
                menuCanvas.style.display = 'flex';
                menuCanvas.style.justifyContent = 'center';
                menuCanvas.style.marginBottom = '5%';

                const clearBtn = document.createElement('button');
                clearBtn.innerHTML = 'Clear';
                clearBtn.className = 'btn btn-outline-danger';

                clearBtn.onclick = (ev) => {
                    ctx.clearRect(0, 0, width, height);
                }

                const acceptBtn = document.createElement('button');
                acceptBtn.innerHTML = 'Accept';
                acceptBtn.className = 'btn btn-outline-success';
                acceptBtn.style.marginLeft = '5%';

                acceptBtn.onclick = (evnt) => {
                    const canImg = new Image();
                    canImg.src = canvas.toDataURL();
                    canImg.style.width = '90%';
                    canImg.style.height = '90%';
                    canImg.style.cursor = 'pointer';
                    canImg.setAttribute('data-img', 'isign');

                    canImg.addEventListener('click', addCanEditor, false);

                    /*for ( child of signField.children ) {
                        signField.removeChild(child);
                    }
                    signField.innerHTML = '';*/

                    const container = signField.parentElement
                    container.removeChild(signField);

                    container.append(canImg);

                    containerDIV.remove();
                }

                menuCanvas.append(clearBtn);
                menuCanvas.append(acceptBtn);

                svgEditor.append(canvas);
                svgEditor.append(menuCanvas);
                containerDIV.append(svgEditor);

                containerDIV.onclick = (ev) => {
                    if(ev.target.dataset.name === 'containerDIV'){
                        ev.target.remove()
                    }
                }

                const pageCont = document.getElementsByClassName('doc-container');
                pageCont[0].append(containerDIV);
            }

            return signF

        }




        function getDeleteBtn(){
            const closeBtn = document.createElement('span');
            closeBtn.style.textAlign = 'center';
            closeBtn.style.fontSize = '0.8em';
            closeBtn.style.margin = '5px';
            closeBtn.className = 'closeBtn';
            closeBtn.innerHTML = '<i class="fas fa-trash" style="color: #000;"></i>';

            closeBtn.onmouseover = (event) => {
                event.target.style.cursor = 'pointer';
                event.target.style.color = '#f00';
            };

            closeBtn.onmouseout = (event) => {
                event.target.style.color = '#000';
            };

            closeBtn.onclick = (eventclk) => {
                eventclk.preventDefault();
                eventclk.target.parentNode.parentNode.parentNode.remove();
            };
            return closeBtn;
        }


        function addInputElement(event, typeOfOperation) {
            const textFHolder = document.createElement('div');
            textFHolder.style.width = '300px';
            textFHolder.style.height = '50px';
            textFHolder.style.border = '1px dashed rgb(255 191 0)';
            textFHolder.style.position = 'absolute';
            textFHolder.style.left = event.offsetX + 'px';
            textFHolder.style.top = event.offsetY + 'px';
            textFHolder.style.overflow = 'visible';
            textFHolder.style.cursor = 'move';

            const resizerTL = getResizer('top', 'left');
            const resizerTR = getResizer('top', 'right');
            const resizerBL = getResizer('bottom', 'left');
            const resizerBR = getResizer('bottom', 'right');

            textFHolder.append(resizerTL);
            textFHolder.append(resizerTR);
            textFHolder.append(resizerBL);
            textFHolder.append(resizerBR);

            const holderMenu = document.createElement('div');
            holderMenu.style.position = 'absolute';
            holderMenu.style.height = '25px';
            holderMenu.style.right = '0px';
            holderMenu.style.top = '-30px';
            holderMenu.style.display = 'block';
            holderMenu.style.borderRadius = '5%';
            holderMenu.className = 'holder-menu';
            holderMenu.style.backgroundColor = 'rgb(129 129 129 / 50%)';
            holderMenu.append(getDeleteBtn());

            let inputField = document.createElement('div') ;
            inputField.setAttribute('draggable', false);

            if(typeOfOperation === 'TEXT_BUTTON'){
                inputField = getTextField();
            }

            if(typeOfOperation === 'IMG_BUTTON'){
                inputField = getImageField();
                textFHolder.style.height = '150px';
            }

            if(typeOfOperation === 'TABLE'){
                //inputField = getTableField();
            }

            if(typeOfOperation === 'DATE'){
                textFHolder.style.width = '150px';
                textFHolder.style.height = '35px';
                inputField = getDateField();
            }

            if(typeOfOperation === 'SIGN'){
                textFHolder.style.width = '200px';
                textFHolder.style.height = '100px';
                inputField = getSignField();
            }

            if(typeOfOperation === ""){
                return
            }

            textFHolder.append(holderMenu);
            textFHolder.append(inputField);
            event.target.append(textFHolder);

            textFHolder.onfocusin = (eventh) => {
                eventh.preventDefault();
                eventh.target.style.outline = '0px';
                eventh.target.parentNode.style.border = '1px solid rgb(255 191 0)';
                eventh.target.parentNode.style.zIndex = '5';
                for(child of eventh.target.parentNode.children){
                    if(child.className === 'resizeBtn' || child.className === 'holder-menu'){
                        child.style.display = 'block';
                    }
                }
            };

            textFHolder.onfocus = (eventh) => {
                eventh.preventDefault();
                eventh.target.style.outline = '0px';
                eventh.target.parentNode.style.border = '1px solid rgb(255 191 0)';
                eventh.target.parentNode.style.zIndex = '1';
                for(child of eventh.target.parentNode.children){
                    if(child.className === 'resizeBtn' || child.className === 'holder-menu'){
                        child.style.display = 'block';
                    }
                }
            };

            textFHolder.onfocusout = (eventh) => {
                eventh.target.parentNode.style.border = '1px dashed rgb(255 191 0)';
                eventh.target.parentNode.style.zIndex = '2';
                let hM;
                for(child of eventh.target.parentNode.children){
                    if(child.className === 'resizeBtn'){
                        child.style.display = 'none';
                    }

                    if(child.className === 'holder-menu'){
                        hM = child;
                    }
                }

                if( hM ){
                    setTimeout(function() {
                        hM.style.display = 'none';
                    }, 200);
                }
            };



            function drag_new( event ) {
                if(!resizing){
                    let initX = event.screenX;
                    let initY = event.screenY;
                    inputField.focus();

                    const holder = event.target;
                    const holderPos = (function () {
                	    const holderPos = {
                		    top : parseInt(holder.style.top.slice(0, -2)),
                	        left : parseInt(holder.style.left.slice(0, -2))
                	    }
                    	return Object.seal(holderPos);
                    })();

                    window.addEventListener('mousemove', moveObject);
                    function moveObject(ev) {
                        ev.preventDefault();
                        const diffX = ev.screenX - initX;
                        const diffY = ev.screenY - initY;
                        holder.style.top = ( holderPos.top + diffY ) + 'px';
                        holder.style.left = ( holderPos.left + diffX ) + 'px';
                        inputField.focus();
                    }

                    window.addEventListener('mouseup', stopMove);
                    function stopMove(ev){
                        window.removeEventListener('mousemove', moveObject);
                        window.removeEventListener('mouseup', stopMove);

                    }
                }
            }


            textFHolder.onmousedown = drag_new(event);

            inputField.onpointerover = (event) => {
                textFHolder.removeEventListener('mousedown', drag_new);
            }

            inputField.onpointerleave = (event) => {
                textFHolder.addEventListener('mousedown', drag_new);
            }

            inputField.focus();
        }


        const pdfFile = document.getElementById('pdf-file');

        pdfFile.ondragover = (event) => {
            event.preventDefault();
            //event.target.style.border = '1px dashed green'
        }

        pdfFile.ondrop = (event) => {
            event.preventDefault();
            const typeOfOperation = event.dataTransfer.getData("text/plain");
            addInputElement(event, typeOfOperation);
            //event.target.style.border = 'none'
        };


        const saveFile = document.getElementById('save-btn');

        saveFile.onclick = saveDocument;

        let contentFile = [];

        function saveDocument(){
            //const file = document.getElementsByClassName('doc-content');
            const pdfFile = document.getElementById('pdf-file');
            contentFile = [];
            
            console.log(fileContent)
            for( child of pdfFile.children ){
                const txt = child.getElementsByTagName("textarea");
                let elem = {}
                if( txt.length ){
                    elem = {
                        width: child.style.width,
                        height: child.style.height,
                        top: child.style.top,
                        left: child.style.left,
                        data: txt[0].value
                    }
                }

                const img = child.getElementsByTagName("img");
                if( img.length ){
                    const canvas = document.createElement('canvas');
                    canvas.setAttribute('width', child.style.width);
                    canvas.setAttribute('height', child.style.height);

                    //document.images[i].parentNode.insertBefore(canvas,document.images[i]);

                    const ctx = canvas.getContext('2d');
                    ctx.drawImage(img[0], child.style.width, child.style.height);


                    elem = {
                        width: child.style.width,
                        height: child.style.height,
                        top: child.style.top,
                        left: child.style.left,
                        data: canvas.toDataURL()
                    }
                }

                const date = child.getElementsByTagName("input");
                if( date.length ){
                    elem = {
                        width: child.style.width,
                        height: child.style.height,
                        top: child.style.top,
                        left: child.style.left,
                        data: date[0].value
                    }
                }
                
                contentFile.push(elem);
            }

            console.log(contentFile)

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            
            const requestURL = '/editor/api/save-file/';
            //const requestBody = {  content: fileContent  }
            //const saveFileRequest = new Request(requestURL);
            const saveFileRequest = new Request(requestURL, {headers: {'X-CSRFToken': csrftoken}} );

            fetch(saveFileRequest, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(contentFile)
            }).then(async function(response) {
                const fileObject = await response.json();
                console.log(fileObject)
            })


        }

        /*
        const showPDF = document.getElementById('show-btn');

        showPDF.onclick = () => {

            const file = document.getElementsByClassName('doc-content');

            for( child of file[0].children ){
                const txt = child.getElementsByTagName("textarea");
                const elem = {
                    width: child.style.width,
                    height: child.style.height,
                    top: child.style.top,
                    left: child.style.left,
                    text: txt[0].value
                }
                fileContent.push(elem);
            }

            console.log(fileContent)

            
            cPdf();
            async function cPdf() {
                const pdfDoc = await PDFLib.PDFDocument.create();
                const page = pdfDoc.addPage();

                const { width, height } = page.getSize()

                const fontSize = 30;


                page.drawText(textArray[0], {
                    x: 50,
                    y: height - 4 * fontSize,
                    size: fontSize,
                    color: PDFLib.rgb(0.7, 0.5, 0.5)
                })


                page.drawText('Created by RT', {
                    x: width - 150,
                    y: 10,
                    size: 20,
                    color: PDFLib.rgb(0.7, 0.5, 0.5)
                });
                const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
                const pdfViewer = document.getElementById('pdf')
                pdfViewer.src = pdfDataUri;
                pdfViewer.style.display = 'block';

            }*/

        



    </script>

</div>
{% endblock %}
