{% extends 'base.html' %}

{% block title %}
Create Document
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div>
    <script src="https://unpkg.com/pdf-lib"></script>
    <div style="display:flex; ">
        <div id="pdf-container">
            <div id="pdf-file">
                <div class="drop-zone">
                    <!--<span class="drop=zone__prompt">Drop image</span>
                    <input type="file" name="myfile" id="" class="drop-zone__input">-->
                </div>
            </div>
        </div>
        <div class="menu-container">
            <h6>Fields</h6>
            <div class="button-container">
                <div id="txt-btn" class="drag-btn" draggable="true"><p class="btn-text">Text</p><i class="fas fa-align-left"></i></div>
                <div id="img-btn" class="drag-btn" draggable="true"><p class="btn-text">Image</p><i class="far fa-image"></i></div>
                <div id="table-btn" class="drag-btn" draggable="true"><p class="btn-text">Table</p><i class="fas fa-table"></i></div>
                <div id="signature-btn" class="drag-btn" draggable="true"><p class="btn-text">Signature</p><i class="fas fa-signature"></i></div>
                <div id="date-btn" class="drag-btn" draggable="true"><p class="btn-text">Date</p><i class="fas fa-calendar-day"></i></div>
                <div id="dropdown-btn" class="drag-btn" draggable="true"><p class="btn-text">Dropdown</p><i class="far fa-list-alt"></i></div>

            </div>
            <a style="display:none" class="btn btn-outline-primary" id="show-btn">Show PDF</a>
            <iframe id="pdf" style="display: none; width: 100%; height: 100vh;"></iframe>
        </div>

    </div>

    <style>


        #pdf-container{
            display: block;
            width: 75vw;
            height: 89vh;
            background-color: #e1e0e9;
            overflow-y: scroll;
        }

        #pdf-file{
            display:  block;
            position:  relative;
            width: 80%;
            height: 800px;
            margin: 30px auto;
            background-color: #fff;
            box-shadow: 0px 0px 5px #333;
        }

        .menu-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ::-webkit-resizer {
          display: none;
        }

        .button-container{

            display: grid;
            grid-template-columns: 48% 48%;
            grid-gap: 10px;
            height: 200px;
            width: 25vw;
            padding: 10px;
            align-items: center;

        }

        .drag-btn{
            border: none;
            height: 100%;
            background-color: #c7d5e1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .btn-text{
            margin: 1rem 0;

        }

        /* width */
        ::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

    </style>


    <script>

        const textArray = [];

        let resizing = false;

        const txtBtn = document.getElementById("txt-btn");
        const imgBtn = document.getElementById("img-btn");

        txtBtn.ondragstart = (event) => {
            event.dataTransfer.setData("text/plain", "TEXT_BUTTON");
        }

        imgBtn.ondragstart = (event) => {
            event.dataTransfer.setData("text/plain", "IMG_BUTTON");
        }


        function getResizer(attr1, attr2){
            const resizer = document.createElement('span');
            resizer.style.width = '5px';
            resizer.style.height = '5px';
            resizer.style.display = 'block';
            resizer.className = 'resizeBtn';
            resizer.style.position = 'absolute';
            resizer.style.backgroundColor = '#00aaff';

            if ( attr1 === 'top') {
                resizer.style.top = '-3px';
            } else {
                resizer.style.bottom = '-3px';
            }

            if ( attr2 === 'left') {
                resizer.style.left = '-3px';
            } else {
                resizer.style.right = '-3px';
            }

            if ( attr1 == 'top' && attr2 === 'right' || attr1 == 'bottom' && attr2 === 'left'){
                resizer.onmouseover = (event) => {
                    event.target.style.cursor = 'nesw-resize';
                };
            } else {
                resizer.onmouseover = (event) => {
                    event.target.style.cursor = 'nwse-resize';
                };
            }

            //('top', 'left');
            //('top', 'right');
            //('bottom', 'left');
            //('bottom', 'right');

            resizer.onmousedown = (event) => {
                let initX = event.screenX;
                let initY = event.screenY;
                resizing = true;
                event.preventDefault();
                const holder = event.target.parentNode;
                //
                const holderSize = (function () {
            	    const holderSize = {
            		    width : parseInt(holder.style.width.slice(0, -2)) ,
                        height : parseInt(holder.style.height.slice(0, -2)),
                        top : parseInt(holder.style.top.slice(0, -2)),
            	        left : parseInt(holder.style.left.slice(0, -2))//elemLeft : 0
            	    }
                	return Object.seal(holderSize);
                })();

                window.addEventListener('mousemove', resizeElement);
                function resizeElement(ev) {
                    //holder.removeEventListener('mousedown', drag_new);
                    console.log("In resize Element");
                    if(attr1 == 'bottom' && attr2 == 'right') {
                        holder.style.width = ((ev.screenX - initX) + holderSize.width) + 'px';
                        holder.style.height = ((ev.screenY - initY) + holderSize.height) + 'px'
                    } else if(attr1 == 'bottom' && attr2 == 'left')  {
                        holder.style.left = (holderSize.left + (ev.screenX - initX)) + 'px';
                        holder.style.width = (holderSize.width - (ev.screenX - initX)) + 'px';
                        holder.style.height = ((ev.screenY - initY) + holderSize.height) + 'px';
                    } else if(attr1 == 'top' && attr2 == 'left')  {
                        holder.style.top = (holderSize.top + (ev.screenY - initY)) + 'px';
                        holder.style.left = (holderSize.left + (ev.screenX - initX)) + 'px';
                        holder.style.width = (holderSize.width - (ev.screenX - initX)) + 'px';
                        holder.style.height = (holderSize.height - (ev.screenY - initY)) + 'px';
                    } else if(attr1 == 'top' && attr2 == 'right')  {
                        holder.style.top = (holderSize.top + (ev.screenY - initY)) + 'px';
                        holder.style.width = (holderSize.width + (ev.screenX - initX)) + 'px';
                        holder.style.height = (holderSize.height - (ev.screenY - initY)) + 'px';
                    }
                    const inp = holder.getElementsByTagName("textarea");
                    inp[0].focus();
                }

                window.addEventListener('mouseup', stopResizing);
                function stopResizing(ev){
                    window.removeEventListener('mousemove', resizeElement);
                    window.removeEventListener('mouseup', stopResizing);
                    resizing = false;

                }

            }


            return resizer;
        }

        function getTextField(){
            const textField = document.createElement('textarea');
            textField.type = 'text';
            textField.style.width = '100%';
            textField.style.height = '80%';
            textField.style.margin = '1%';
            textField.style.fontSize = '1em';
            textField.style.border = 'none';
            textField.style.resize = 'none';
            textField.style.backgroundColor = '#0000';
            textField.style.borderRadius = '0px';
            textField.style.outline = '0px';
            textField.style.overflow = 'overlay';

            textField.onblur = (eventxt) => {
                textArray.push(eventxt.target.value);
                eventxt.preventDefault();
            };

            return textField;
        }

        function getDeleteBtn(){
            const closeBtn = document.createElement('span');
            closeBtn.style.textAlign = 'center';
            closeBtn.style.fontSize = '0.8em';
            closeBtn.style.margin = '5px';
            closeBtn.className = 'closeBtn';
            closeBtn.innerHTML = '<i class="fas fa-trash" style="color: #000;"></i>';

            closeBtn.onmouseover = (event) => {
                event.target.style.cursor = 'pointer';
                event.target.style.color = '#f00';
            };

            closeBtn.onmouseout = (event) => {
                event.target.style.color = '#000';
            };

            closeBtn.onclick = (eventclk) => {
                eventclk.preventDefault();
                eventclk.target.parentNode.parentNode.parentNode.remove();
            };
            return closeBtn;
        }


        function addTextInput(event){
            const textFHolder = document.createElement('div');
            textFHolder.style.width = '300px';
            textFHolder.style.height = '50px';
            textFHolder.style.border = '1px dashed rgb(255 191 0)';
            textFHolder.style.position = 'absolute';
            textFHolder.style.left = event.offsetX + 'px';
            textFHolder.style.top = event.offsetY + 'px';
            textFHolder.style.overflow = 'visible';
            textFHolder.style.cursor = 'move';
            //textFHolder.setAttribute('draggable', true);

            const resizerTL = getResizer('top', 'left');
            const resizerTR = getResizer('top', 'right');
            const resizerBL = getResizer('bottom', 'left');
            const resizerBR = getResizer('bottom', 'right');

            textFHolder.append(resizerTL);
            textFHolder.append(resizerTR);
            textFHolder.append(resizerBL);
            textFHolder.append(resizerBR);

            const holderMenu = document.createElement('div');
            holderMenu.style.position = 'absolute';
            //holderMenu.style.width = '-webkit-fill-available';
            holderMenu.style.height = '25px';
            holderMenu.style.right = '0px';
            holderMenu.style.top = '-30px';
            holderMenu.style.display = 'block';
            holderMenu.style.borderRadius = '5%';
            holderMenu.className = 'holder-menu';
            holderMenu.style.backgroundColor = 'rgb(129 129 129 / 50%)';
            holderMenu.append(getDeleteBtn());

            const textField = getTextField();

            textFHolder.append(holderMenu);
            textFHolder.append(textField);
            event.target.append(textFHolder);

            textFHolder.onfocusin = (eventh) => {
                eventh.preventDefault();
                eventh.target.style.outline = '0px';
                eventh.target.parentNode.style.border = '1px solid rgb(255 191 0)';
                eventh.target.parentNode.style.zIndex = '5';
                for(child of eventh.target.parentNode.children){
                    if(child.className === 'resizeBtn' || child.className === 'holder-menu'){
                        child.style.display = 'block';
                    }
                }
            };

            textFHolder.onfocus = (eventh) => {
                eventh.preventDefault();
                eventh.target.style.outline = '0px';
                eventh.target.parentNode.style.border = '1px solid rgb(255 191 0)';
                eventh.target.parentNode.style.zIndex = '5';
                for(child of eventh.target.parentNode.children){
                    if(child.className === 'resizeBtn' || child.className === 'holder-menu'){
                        child.style.display = 'block';
                    }
                }
            };

            textFHolder.onfocusout = (eventh) => {
                eventh.target.parentNode.style.border = '1px dashed rgb(255 191 0)';
                eventh.target.parentNode.style.zIndex = '0';
                let hM;
                for(child of eventh.target.parentNode.children){
                    if(child.className === 'resizeBtn'){
                        child.style.display = 'none';
                    }

                    if(child.className === 'holder-menu'){
                        hM = child;
                    }
                }

                if( hM ){
                    setTimeout(function() {
                        hM.style.display = 'none';
                    }, 200);
                }
            };



            function drag_new( event ) {
                if(!resizing){
                    let initX = event.screenX;
                    let initY = event.screenY;
                    textField.focus();

                    const holder = event.target;
                    console.log(holder.style.top, holder.style.left)
                    const holderPos = (function () {
                	    const holderPos = {
                		    top : parseInt(holder.style.top.slice(0, -2)),
                	        left : parseInt(holder.style.left.slice(0, -2))
                	    }
                    	return Object.seal(holderPos);
                    })();

                    window.addEventListener('mousemove', moveObject);
                    function moveObject(ev) {
                        ev.preventDefault()

                        const diffX = ev.screenX - initX;
                        const diffY = ev.screenY - initY;

                        console.log( diffY , diffX )
                        holder.style.top = ( holderPos.top + diffY ) + 'px';
                        holder.style.left = ( holderPos.left + diffX ) + 'px';
                        console.log(holder.style.top, holder.style.left)
                        textField.focus();
                    }

                    window.addEventListener('mouseup', stopMove);
                    function stopMove(ev){
                        window.removeEventListener('mousemove', moveObject);
                        window.removeEventListener('mouseup', stopMove);

                    }
                }
            }


            textFHolder.onmousedown = drag_new(event);

            textField.onpointerover = (event) => {
                textFHolder.removeEventListener('mousedown', drag_new);
            }

            textField.onpointerleave = (event) => {
                textFHolder.addEventListener('mousedown', drag_new);
            }

            textField.focus();
        }


        const pdfFile = document.getElementById('pdf-file');

        pdfFile.ondragover = (event) => {
            event.preventDefault();
        }

        pdfFile.ondrop = (event) => {
            event.preventDefault();
            const typeOfOperation = event.dataTransfer.getData("text/plain");

            if(typeOfOperation === 'TEXT_BUTTON'){
                addTextInput(event);
            }

            if(typeOfOperation === 'IMG_BUTTON'){
                console.log('TO DO add image field.')
            }

            /*if(typeOfOperation === 'MOVE_ELEMENT'){
                console.log(event.dataTransfer)
                const loc = event.dataTransferItems.getData("position");
                console.log(loc)
            }*/
        };


        const showPDF = document.getElementById('show-btn');

        showPDF.onclick = () => {
            cPdf();
            async function cPdf() {
                const pdfDoc = await PDFLib.PDFDocument.create();
                const page = pdfDoc.addPage();

                const { width, height } = page.getSize()

                const fontSize = 30
                page.drawText(textArray[0], {
                    x: 50,
                    y: height - 4 * fontSize,
                    size: fontSize,
                    color: PDFLib.rgb(0.7, 0.5, 0.5)
                })


                page.drawText('Created by RT', {
                    x: width - 150,
                    y: 10,
                    size: 20,
                    color: PDFLib.rgb(0.7, 0.5, 0.5)
                });
                const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
                const pdfViewer = document.getElementById('pdf')
                pdfViewer.src = pdfDataUri;
                pdfViewer.style.display = 'block';

            }

        }

        function dodrop(event) {
            var dt = event.dataTransfer;
            var count = dt.mozItemCount;
            output("Items: " + count + "\n");

            for (var i = 0; i < count; i++) {
                output(" Item " + i + ":\n");
                var types = dt.mozTypesAt(i);
                for (var t = 0; t < types.length; t++) {
                    output("  " + types[t] + ": ");
                    try {
                        var data = dt.mozGetDataAt(types[t], i);
                        output("(" + (typeof data) + ") : <" + data + " >\n");
                    } catch (ex) {
                        output("<<error>>\n");
                        dump(ex);
                    }
                }
            }
        }

        function output(text) {
            document.getElementById("output").textContent += text;
            dump(text);
        }


        function dragstart_handler(ev) {
            // Add the target element's id to the data transfer object
            ev.dataTransfer.setData("text/plain", ev.target.id);
          }

          window.addEventListener('DOMContentLoaded', () => {
            // Get the element by id
            //const element = document.getElementById("p1");
            // Add the ondragstart event listener
            //element.addEventListener("dragstart", dragstart_handler);
          });

          document.querySelectorAll(".drop-zone__input").forEach(inputElement => {
              const dropZoneElement = inputElement(".drop-zone");
              dropZoneElement.addEventListener("click", e => {
                  inputElement.click();
              });

              dropZoneElement.addEventListener("click", e => {
                if(inputElement.file.length){
                    updateThumbnail(dropZoneElement, inputElement.file[0]);
                }
            });


            dropZoneElement.addEventListener("dragover", e => {
                e.preventDefault();
                dropZoneElement.classList.add("drop-zone__over");

            });
            ["dragleave", "dragged"].forEach(type =>{
                dropZoneElement.addEventListener("click", e => {
                    if(inputElement.file.length){
                        updateThumbnail(dropZoneElement, inputElement.file[0]);
                    }
                });
            });

          })

    </script>

</div>
{% endblock %}
